
@{
    ViewBag.Title = "Index";


}

<div class="row">

    @using (Html.BeginForm("Save", "Ngo", FormMethod.Post, new { id = "popupfrom" }))
    {
        <div>
            <h1>NGO</h1>
        </div>



        <div class="form-group">
            <label class="form-label">Restaurant Name</label>
            <select class="form-control" id="resid" name="resid" placeholder="Restaurant Name" required>
                <option>Please Select</option>
            </select>
        </div>


        <div class="form-group">
            <label class="form-label">Employee ID</label>
            <input type="text" id="empid" name="empid" class="form-control" placeholder="empid" required />
        </div>

        <div class="form-group">
            <label class="form-label">Employee Name</label>
            <input type="text" id="empname" name="empname" class="form-control" placeholder="empname" required />
        </div>

        <div class="form-group">
            <label class="form-label">Placing Date</label>
            <input type="date" id="placingdate" name="placingdate" class="form-control" placeholder="placing date" required />
        </div>


        <div class="form-group">
            <label class="form-label">Expire Date</label>
            <input type="date" id="expiredate" name="expiredate" class="form-control" placeholder="expire date" required />
        </div>

        <div class="form-group">
            <input type="submit" vlaue="Save" class="btn btn-success" />
        </div>


    }



</div>


@section scripts
    {
    
    <script src="~/Scripts/jquery-3.4.1.js"></script> 
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>

<script>

    GetRes();
    load();

    function load()
    {
        $("empid").attr("disabled", "disabled");
        $("empname").attr("disabled", "disabled");
        $("placingdate").attr("disabled", "disabled");
        $("expiredate").attr("disabled", "disabled");
    }

    GetRes();

    function GetRes() {

        $.ajax({

            type: 'GET',
            url: '/ngo/Getres',
            dataType: 'JSON',
            success: function(data)
            {
                console.log(data);

                for(var i = 0; i<data.lenght; i++)
                {
                    $("#resid").append($("<Option/>", {
                        text: data[i].resname
                    }));
                }

            }


        });
    }

    Getemp();

    function Getemp() {



        $("#empid").keyup(function (e) {

            $.ajax({

                type: 'POST',
                url: '/Ngo/Getid?id=' + $("#empid").val(),
                dataType: 'JSON',
                success: function (data) {

                    console.log(data);
                    $("empname").val(data)
                }
            });
            return true;
        });


    }

    </script>



    }
