
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Education</title>
</head>
<body>
    <div>
        <h1 style="text-align:center"><u>Curriculum Vitae</u></h1>
        <h2 style="text-align:center"><u>Education</u></h2>
        <br />
        <table style="text-align:center">
            <tr>
                <th>Exam Title</th>
                <th>Concentration</th>
                <th>Instritute</th>
                <th>Result</th>
                <th>Passing Year</th>
            </tr>

            <tr>
                <td>B.Sc. in Engineering</td>
                <td>Computer Science & Engineering</td>
                <td>American International University of Bangladesh</td>
                <td>CGPA 3.75 out of 4</td>
                <td>2020</td>
            </tr>

            <tr>
                <td>HSC</td>
                <td>Science</td>
                <td>BAF Shaheen College, Tejgaon</td>
                <td>GPA 4.08 out of 5 </td>
                <td>2016</td>
            </tr>

            <tr>
                <td>SSC</td>
                <td>Science</td>
                <td>Monipur High School & College</td>
                <td>GPA 5 out of 5</td>
                <td>2014</td>
            </tr>
        </table>
        <br /><br /><br />
        <a href="/CV/Intro" class="btn btn-success" role="button">Back</a>
    </div>
</body>
</html>
