
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Intro</title>
</head>
<body>
    <div>
        <h1 style="text-align:center"><u>Curriculum Vitae</u></h1>
        <h2 style="text-align:center"><u>Welcome to My CV</u></h2>
        <br /><br /><br /><br /><br /><br />
        <a href="/CV/Index" class="btn btn-success" role="button">Personal Information</a>

        <a href="/CV/Education" class="btn btn-success" role="spinbutton">Education</a>

        <a href="/CV/CCA" class="btn btn-success" role="button">Extra-curriculum Activity</a>

        <a href="/CV/Reference" class="btn btn-success" role="button">Reference</a>
    </div>
</body>
</html>
