
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reference</title>
</head>
<body>
    <div>
        <h1 style="text-align:center"><u>Curriculum Vitae</u></h1>
        <h2 style="text-align:center"><u>References</u></h2>
        <br />
        <h4>1. Tanvir Ahmed</h4>
        <h4>Faculty</h4>
        <h4>American International University-Bangladesh</h4>
        <h4>tanvir.ahmed@aiub.edu</h4>
        <br />
        <h4>1. Mehedi Hasan Onik</h4>
        <h4>Faculty</h4>
        <h4>American International University-Bangladesh</h4>
        <h4>mehedi.onik@aiub.edu</h4>
        <br /><br /><br />
        <a href="/CV/Intro" class="btn btn-success" role="button">Back</a>

    </div>
</body>
</html>
